/* 參觀票價樣式調整 */
.ticketinfor {
    width: 100%;
}

/* 參觀票價 */
div>h1 {
    color: green;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 入園門票 & 遊覽列車*/
.ticketinfor1 {
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    width: 700px;
    height: 100px;
    margin: 0 auto;
    border-radius: 30px;
    border: solid #4F7C46;
    /* background-color: lightblue; */


}

/* 入園門票說明標題 */
h2 {
    color: darkolivegreen;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* 入園門票 & 遊覽列車 標題*/
.ti123 {
    color: #4F7C46;
}

/* 入園門票說明 */
.ticketinfor2 {
    width: 700px;
    height: 400px;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    border: solid #4F7C46;
    /* background-color: lightblue; */


}

/*入園門票 & 遊覽列車 & 入園門票說明 響應式 */
@media screen and (max-width: 768px) {

    .ticketinfor1,
    .ticketinfor2 {
        margin: 10%;
        width: 400px;
        line-height: 100px;
        float: none;
    }
}